*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    
}
.Nav{
text-decoration: none;
color: black;
}
ul{
    list-style-type: none;
}

.App{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;

   

}
 .Global{
    display: grid;
    border-radius: 20px;
margin-top: 1%;
box-shadow: 1px 6px 6px #e6aa3b;
background-color: aliceblue;
} 
.Global:hover{
box-shadow: 1px 6px 6px #367fc8;
transition: 0.5s;

}
.GlobalImg{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: auto;
}

.GlobalImg:hover{
    transition: 0.5s;
filter: blur(1.5px) ;
  
}
.Explore{
    display: flex;
    justify-content: center;
    background-color: #ccc;
    margin-top: 3%;
    
    width: 100%;
}
.Square{
    display: grid;
   width: 40%;
    
 
}

/*  */


.bookMark{
    border: none;
    background-color: #367fc8;
color: aliceblue;
font: 1.2em sans-serif;

padding: 12px 12px;

border-top-right-radius: 30px;

}

.quickViwe{
    border: none;
    background-color: #367fc8;
color: aliceblue;
font: 1.2em sans-serif;

border-top-left-radius: 30px;
padding: 12px 12px;

}
.button{
    display: flex;
    justify-content: space-between;
}
.bookMark:hover{
   
    background-color: #e6aa3b;
}

.quickViwe:hover{
   
    background-color: #e6aa3b;
}
.text{
   display: grid;
   justify-content: center;
   margin-top: 2%;
   font-size: 1.1em;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Act{
    border: none;
    background-color: #367fc8;
color: aliceblue;
font: 1.2em sans-serif;

border-top-left-radius: 30px;
border-top-right-radius: 30px;

padding: 12px 12px;
}
.Act:hover{
background-color: #e6aa3b;
}
.shares{
    display: flex;
    justify-content: center;
    margin-top: 2%;

}

.login{
    display: grid;
    justify-content: center;
    margin-top: 20%;
   
}

.emailPass{
    width: 150%;
  padding: 12px 20px;
border-radius: 10px;
box-shadow: 1px 6px 6px #367fc8;
 
}
.emailPass:hover{
  
box-shadow: 5px 5px 5px  #367fc8;
 
}
.log{
    border: none;
    background-color: #367fc8;
color: aliceblue;
font: 1.2em sans-serif;
width: 150%;
border-radius: 10px;
padding: 12px 12px;
box-shadow: 1px 6px 6px #e6aa3b;

}
.log:hover{
box-shadow:5px 5px 5px #e6aa3b;

}
.about{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.aboutH1{
    font-family: Arial, Helvetica, sans-serif;
    color: #367fc8;
    text-shadow: 5px 5px #e6aa3b;
    font:4em sans-serif;
}

  /* Jordan */
  .ExploreJordan {
    position: relative;
   
  }
  
  .imgJor {
    display: block;
    width: 100%; 
    height: 40%;
    border-radius: 40px;
    box-shadow: 1px 6px 6px #e6aa3b;
  }
  
  .overlayJordan {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: #e6aa3b;
    border-radius: 40px;
    
  }
  
  .ExploreJordan:hover .overlayJordan {
    opacity: 1;
    box-shadow: 1px 6px 6px #367fc8;

  }
  
  .textJordan {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

   /* Kyrgyzstan */
   .ExploreKyrgyzstan {
    position: relative;
    
   
  }
  
  .imgKyrgyzstan {
    display: block;
    width: 90%; 
    height: 40%;
    border-radius: 40px;
    box-shadow: 1px 6px 6px #e6aa3b;
  }
  
  .overlayKyrgyzstan{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    width: 90%;
    opacity: 0;
    transition: 1s ease;
    background-color: #e6aa3b;
    border-radius: 40px;
    
  }
  
  .ExploreKyrgyzstan:hover .overlayKyrgyzstan {
    opacity: 1;
    box-shadow: 1px 6px 6px #367fc8;

  }
  
  .textKyrgyzstan {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  
   /* Uzbekistan */
   .ExploreUzbekistan {
    position: relative;
    
   
  }
  
  .imgUzbekistan{
    display: block;
    width: 100%; 
    height: 40%;
    border-radius: 40px;
    box-shadow: 1px 6px 6px #e6aa3b;
  }
  
  .overlayUzbekistan{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: #e6aa3b;
    border-radius: 40px;
    
  }
  
  .ExploreUzbekistan:hover .overlayUzbekistan {
    opacity: 1;
    box-shadow: 1px 6px 6px #367fc8;

  }
  
  .textUzbekistan{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  /* Uzbekistan */
  .ExploreUzbekistan {
    position: relative;
    height: 50%;
   
  }
  
  .imgUzbekistan{
    display: block;
    width: 80%; 
    height: 50%;
    border-radius: 40px;
    box-shadow: 1px 6px 6px #e6aa3b;
  }
  
  .overlayUzbekistan{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    width: 80%;
    opacity: 0;
    transition: 1s ease;
    background-color: #e6aa3b;
    border-radius: 40px;
    
  }
  
  .ExploreUzbekistan:hover .overlayUzbekistan {
    opacity: 1;
    box-shadow: 1px 6px 6px #367fc8;

  }
  
  .textUzbekistan{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
   /* Tanzania */
   .ExploreTanzania {
    position: relative;
    
   
  }
  
  .imgTanzania{
    display: block;
    width: 80%; 
    height: 40%;
    
    border-radius: 40px;
    box-shadow: 1px 6px 6px #e6aa3b;
  }
  
  .overlayTanzania{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    width: 80%;
    opacity: 0;
    transition: 1s ease;
    background-color: #e6aa3b;
    border-radius: 40px;
    
  }
  
  .ExploreTanzania:hover .overlayTanzania {
    opacity: 1;
    box-shadow: 1px 6px 6px #367fc8;

  }
  
  .textTanzania{
    color: white;
    font-size: 20px;
    position: absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }